<div class="text-large text-bold text-center">
  {% block header %}{% endblock %}
</div>
<div class="divider"></div>
<main class="main-content" hx-ext="client-side-templates">
  {% block content %}{% endblock %}
</main>
