{% extends 'base.html' %}
{% block title %}Page not Found{% endblock %}
{%- block body %}
  <div class="empty bg-secondary">
    <div class="empty-icon">
      <i class="icon icon-3x icon-stop"></i>
    </div>
    <p class="empty-title h5">Page not Found (404) — {{ name }}</p>
    <p class="empty-subtitle">There is no page by this url you requested.</p>
    <div class="empty-action">
      <p>Try to return on previous page or open the <a href="{{ config.BASE_URL }}">root</a> of the site.</p>
    </div>
  </div>
{%- endblock %}