{% extends 'base.html' %}
{% block title %}Internal Server Error{% endblock %}
{%- block body %}
  <div class="empty bg-secondary">
    <div class="empty-icon">
      <i class="icon icon-3x icon-stop"></i>
    </div>
    <p class="empty-title h5">Internal Server Error (500) — {{ name }}</p>
    <p class="empty-subtitle">Damn! It seems there is a some issue here...</p>
    <div class="empty-action">
      <p>Unfortunately, your request caused an error. We have a report on this issue and we have already begun to correct it.</p>
      <p>Please just take the cookie until we solve this. <i class="icon icon-emoji"></i></p>
    </div>
  </div>
{%- endblock %}